﻿<!-- main app container -->
<app-navbar></app-navbar>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<!--div class="text-center">
    <p>
        <a href="http://jasonwatmore.com/post/2018/05/23/angular-6-jwt-authentication-example-tutorial" target="_top">Angular 6 - JWT Authentication Example & Tutorial</a>
    </p>
    <p>
        <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p>
</div-->