<div class="container" [ngSwitch]="isAuthenticated()">
    <div class="form-group col-sm-9 offset-1" *ngSwitchCase="true">
        <form [formGroup]="postForm" (ngSubmit)="savePost()">
            <div class="form-group">
                <textarea placeholder="Type you title here..." formControlName="title" class="postform form-control" rows="1" [ngClass]="{ 'is-invalid': submitted && f.title.errors }"></textarea>
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                    <div *ngIf="f.title.errors.required">Title is required</div>
                </div>
            </div>
            <div class="form-group">
                <textarea placeholder="Type you post here..." formControlName="postText" class="postform form-control" rows="2" [ngClass]="{ 'is-invalid': submitted && f.postText.errors }"></textarea>
                <div *ngIf="submitted && f.postText.errors" class="invalid-feedback">
                    <div *ngIf="f.postText.errors.required">Post Text is required</div>
                </div>
            </div>
            <div class="form-group">
                <textarea placeholder="Add some tags separated with coma..." formControlName="tags" class="postform form-control" rows="1" [ngClass]="{ 'is-invalid': submitted && f.tags.errors }"></textarea>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="postform btn btn-primary">Submit</button>
            </div>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </form>
        <!--textarea placeholder="Type you title here..." class="postform form-control" rows="1"></textarea>
        <textarea placeholder="Type you post here..." class="postform form-control" rows="3"></textarea>
        <button type="button" (click)="savePost()" class="postform btn btn-primary btn-lg btn-block">Primary</button-->
    </div>
</div>
<div class="container">
    <div class="col-sm-9 offset-1" *ngFor="let post of posts">
        <!--a (click)="loadByUser(post.userName)"-->
        <span class="badge badge-info">{{post.userName}}</span>
        <h1>{{post.title}}</h1>
        <p>{{post.postText}}</p>
        <div>
            <span class="badge badge-secondary">Posted {{post.createdAt | date:'dd/MM/yy HH:mm'}}</span>

            <div class="float-right" *ngFor="let tag of post.tags">
                <span class="hashteg badge badge-info">{{tag.name}}</span>
            </div>
        </div>
        <hr>
    </div>
</div>